.recomended-conteiner {
  display: flex;
  overflow-y: auto;
}

.btn-recipe {
  background-color: #fd4d05;
  border: 1px solid transparent;
  bottom: 0;
  color: white;
  font-weight: 600;
  padding: 5px;
  position: fixed;
  width: 100%;
}

.btn-recipe:hover {
  background-color: transparent;
  border: 1px solid #fd4d05;
  color: rgb(15, 15, 15);
  font-weight: 600;
}

@media screen and ( min-width : 600px ) {

  .btn-recipe {
    width: 400px;
  }
}
