.header-ExploreFoodIgrendient-content {
  align-items: center;
  display: flex;
  padding: 0 10px;
  width: 100%;
}

.header-ExploreFoodIgrendient-content h1 {
  font-size: 1.8rem;
  margin-left: 5px;
}

.header-ExploreFoodIgrendient-content span {
  flex: auto;
}
