.btn-primary {
  background-color: #fd4d05;
  border-color: #fd4d05;
  color: white;
  width: 100%;
}

.btn-primary.disabled, .btn-primary:disabled {
  background-color: #fd4d05;
  border-color: #fd4d05;
  color: white;
}

li {
  list-style: none;
  padding: 10px;
}
