.header-explore-content {
  align-items: center;
  display: flex;
  padding: 0 10px;
  width: 100%;
}

.header-explore-content h1 {
  margin-left: 20px;
}

.header-explore-content span {
  flex: auto;
}

.explore-container {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.explore-container button {
  background-color: #fd4d05;
  border: 1px solid transparent;
  color: white;
  margin-right: 5px;
  padding: 5px;
}
