.category-button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  width: 100%;
}

.btn-outline-danger {
  border-radius: 0;
  color: #fd4d05;
  width: 30%;
}

.btn-warning {
  background-color: #fbb816;
  border-color: #fbb816;
  border-radius: 0;
  color: #212529;
  height: 38px;
  padding: 0 15px;
  width: 30%;
}

@media only screen and ( min-width : 600px ) {

  .category-button-container {
    justify-content: center;
    width: 100%;
  }

}
