.category-button-container {
  display: flex;
  overflow-x: scroll;
  width: 100%;
}

.btn-outline-danger {
  border-radius: 0;
  color: #fd4d05;
  margin-right: 2px;
}

.btn-warning {
  background-color: #fbb816;
  border-color: #fbb816;
  border-radius: 0;
  color: #212529;
  height: 38px;
  margin-right: 2px;
  padding: 0 15px;
}

@media only screen and ( min-width : 600px ) {

  .category-button-container {
    justify-content: center;
    overflow-x: hidden;
    width: 100%;
  }

}
